@using System.Globalization
@model Advertisement

@{
    ViewBag.Title = "View Advertisement";
}

@{
    var photoPath = "/Images/" + (Model.PhotoPath ?? "noimage.jpg");
    string fullMonthName = new DateTime(2015, Model.ProductionMonth, 1).ToString("MMMM", CultureInfo.CreateSpecificCulture("en-GB"));

    <div class="container">
        <br>
        <div class="row">
            <div class="col ad-nav">
                <button> Favorite This ❤️</button>
                <button> Report 🚩</button>
                <button> Edit ⚙️</button>
                <!-- TODO Show this when advertisements is favorited -->
                <!-- <button> Favorite ✔️</button> -->
            </div>
            <div class="col">

                <!-- TODO -->
                <!-- Advertisement creation date -->
                <p class="align-right">@Model.CreationDate</p>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <h1>@Model.Brand.Name @Model.Model.Name</h1>
            </div>
            <div class="col">
                <h1 class="align-right">@Model.Price EUR</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 image-col">
                <img class="image-viewad" src="@photoPath"> </img>
            </div>
            <div class="col-md-6 motorcycle-description">
                <ul>
                    <li>Production year: @Model.ProductionYear @fullMonthName</li>
                    <li>Engine type: @Model.EngineType</li>
                    <li>Horse Power: @Model.HorsePower hp</li>
                    <li>Engine Capacity: @Model.EngineCapacity cc</li>
                    <li>Transmission Type: @Model.TransmissionType</li>
                    <li>Cooling System: @Model.CoolingSystemType</li>
                    <li>Mileage: @Model.Mileage Km</li>

                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <!-- TODO Add advrtisement creation date initialize it when ad is inserted to database -->
                <!-- Advertisement creation date -->
                <br>
                <h5> Additional Description:</h5>
                <p> @Model.Description</p>
            </div>
        </div>
    </div>
}