@model ProfileViewModel;

@{
    ViewBag.Title = "Profile";
}


<h2>Profile: @User.Identity.Name</h2>


<div class="card mb-3">
    <div class="card-header">
        Advertisements
    </div>
    <div class="card-body">
        @if (Model.Advertisements.Any())
        {
            @foreach (var advertisement in Model.Advertisements)
            {
                var photoPath = "/Images/" + (advertisement.PhotoPath ?? "noimage.jpg");
                <div class="row">

                    <div class="col-lg-2 col-6">

                        <img class="image-thumbnail-small" src="@photoPath"> </img>
                    </div>
                    <div class="col-lg-3 col-6">
                        <h5 class="card-title">@advertisement.Brand.Name @advertisement.Model.Name</h5>
                        <ul style="list-style-type:none">
                            <li> <i class="fa-solid fa-tag"></i> Price: @advertisement.Price EUR</li>
                            <li> <i class="fa-solid fa-road"></i> Mileage: @advertisement.Mileage Km</li>
                        </ul>
                    </div>
                    <div class="col-lg-4 offset-lg-3 col-12 fucking-button-profile-ad ad-nav">
                        <a class="no-decor" asp-action="view" asp-controller="advertisement" asp-route-id="@advertisement.Id">
                            <button>View 👀</button>
                        </a>

                        <button>Edit ⚙️</button>
                        <button>Delete ❌</button>
                    </div>
                </div>
                <hr />
            }
            <h3> Total advertisements: @Model.Advertisements.Count </h3>
        }
        else
        {
            <p> No Advertisements to show!</p>
        }
    </div>
</div>

<div class="card mb-3">
    <div class="card-header">
        Search Filters
    </div>
    <div class="card-body">
        @if (Model.Advertisements.Any())
        {
            @foreach (var searchFilter in Model.UserSearchFilters)
            {
                <div class="row">
                    <div class="col">
                        <h5 class="card-title">@searchFilter.FilterName</h5>
                        <p> Created at:  @searchFilter.CreateTime</p>
                    </div>
                    <div class="col fucking-button-profile-ad ad-nav" style="display: flex;">
                        <div class="col-md-4 form-switch" style="align-self: center;">
                            <input  onclick="SwitchEmailNotifications(@searchFilter.Id)" asp-for="@searchFilter.NotificationsActive" class="form-check-input" type="checkbox" role="switch" id="emailNotifications-@searchFilter.Id">
                            <label  class="form-check-label" for="emailNotifications-@searchFilter.Id">E-mail Notifications</label>
                        </div>
                        <div class="col-md-8">

                            <button>Search using filter 🔍</button>
                            <button>Delete ❌</button>

                        </div>
                    </div>
                </div>
                <hr />
            }
            <h3> Total filters: @Model.UserSearchFilters.Count </h3>
        }
        else
        {
            <p> No Advertisements to show!</p>
        }
    </div>
</div>


    <script>
    function SwitchEmailNotifications(id) {
        console.log($("#emailNotifications-"+id).attr('checked'))
        let toActivate = $("#emailNotifications-"+id).attr('checked') === undefined
    	$.ajax({
    		type: "POST",
    		url: '@Url.Action("SwitchFilterNotifications", "SearchFilter")',
    		data: {
    			userSearchFilterId: id
    		},
    		success: function(response) {
    			UpdateEmailNotificationsSwitch(id);
    		},
    		failure: function(response) {
    			alert(response.responseText);
    		},
    		error: function(response) {
    			alert(response.responseText);
    		}
    	});
    }

    function UpdateEmailNotificationsSwitch(id) {

    	$.ajax({
    		type: 'GET',
    		url: '@Url.Action("IsFilterNotificationsActive", "SearchFilter")',
    		dataType: 'json',
    		data: {
    			userSearchFilterId: id
    		},
    		success: function(mems) {
    			console.log(mems)
    				$("#emailNotifications-" + id).prop('checked', mems); 
    		},
    		error: function(ex) {
    			console.log("error")
    			alert('Failed to retrieve models.' + ex);
    		}
    	});
    }
    </script>