@model ProfileViewModel;

@{
    ViewBag.Title = "Profile";
}


<h2>Profile: @User.Identity.Name</h2>

 <div class="col">
                <br>
                <h5> Profile info:</h5>
                <p> <i class="bi bi-geo-alt"></i>  @Model.User.City, @Model.User.Region</p>
                <p> <i class="bi bi-envelope"></i>  @Model.User.Email</p>
                <p> <i class="bi bi-telephone"></i>  @Model.User.PhoneNumber</p>
</div>